<div class="container-fluid">
  <div class="header row justify-content-between align-items-baseline">
    <div class="image col-xl-2 col-md-3 col-sm-4 col-7">
      <img src="assets/logo.svg" class="img-fluid" alt="Logo">
    </div>
    <button class="btn btn-danger col-xl-1 col-sm-2 col-3" (click)="logout()">
      Logout
    </button>
  </div>

  <div class="filter">
    <div class="filter-header d-flex justify-content-between align-items-baseline">
      <h4>Students</h4>
      <button class="btn btn-success" (click)="openAddEditModal(true)">
        <i class="fa fa-add"></i> Add New
      </button>
    </div>

    <form [formGroup]="studentForm" (ngSubmit)="searchStudents()" class="row">
      <div class="col-xl-2 col-lg-3 mb-3">
        <label for="name" class="p-0 m-0 form-label my-2">Name</label>
        <input type="text" class="form-control" formControlName="selectedName">
      </div>
      <div class="col-xl-2 col-lg-3 mb-3">
        <label for="country" class="p-0 m-0 form-label my-2">Country</label>
        <input type="text" class="form-control" formControlName="country">
      </div>
      <div class="col-xl-2 col-lg-3 mb-3">
        <label for="age" class="p-0 m-0 form-label my-2">Age</label>
        <div class="age-input p-0 m-0 d-flex align-items-center">
          <input type="number" class="form-control" formControlName="selectedMinAge">
          <span class="mx-2 text-decoration-none">to</span>
          <input type="number" class="form-control" formControlName="selectedMaxAge">
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 mb-3">
        <label for="gender" class="p-0 m-0 form-label my-2">Gender</label>
        <input type="text" class="form-control" formControlName="gender">
      </div>
      <div class="col-xl-4 col-lg-5 mt-md-3 align-self-end">
        <button class="btn btn-primary col-6 col-md-5 mr-2" type="submit" (click)="searchStudents()">Search</button>
        <button class="btn btn-secondary col-6 col-md-5" type="button" (click)="resetForm()">Reset</button>
      </div>
    </form>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Country</th>
        <th>Age</th>
        <th>Gender</th>
        <th> Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of displayedStudents">
        <td>{{ student.id }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.country }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.gender }}</td>
        <td>{{student.email}}</td>
        <td> <button class="btn btn-danger" (click)="delete(student.id)"> delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

<router-outlet></router-outlet>
