<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <div class="text-center mb-4">
        <img src="../../../Assets/OIP.jpg" alt="Company Logo" class="company-logo">
        <h3 class="card-title mt-2">Welcome</h3>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="email">Email:</label>
          <input id="email" class="form-control" formControlName="email" type="email" required>
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            <small *ngIf="loginForm.get('email')?.errors?.['required']" class="text-danger">Email is required</small>
            <small *ngIf="loginForm.get('email')?.errors?.['email']" class="text-danger">Invalid email address</small>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input class="form-control" id="password" formControlName="password" type="password" required>
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            <small *ngIf="loginForm.get('password')?.errors?.['required']" class="text-danger">Password is required</small>
          </div>
        </div>
        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary btn-block">LOG IN</button>
        <div class="text-center mt-3">
          <span>Don’t have an account?</span>
          <button type="button" class="btn btn-link" (click)="goToRegister()">Register here</button>
        </div>
      </form>
    </div>
  </div>
</div>
